.App {
  
  
 overflow-y: scroll;
 min-height: 100vh;
 padding-bottom: 100px;
  
}



.width{
width: 50%;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .m-10{
    margin: 10px;
  }
  .width{
    width: 100%;
  }
  .App{
   
    align-items: start;
  
  }}
