

body {
  margin: 0;
  padding: 0;
}

.flex{
  display: flex !important;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.justify-center{
  justify-content:center;
}
.justify-around{
  justify-content:space-around;
}

.justify-between{
  justify-content:space-between !important;
}

.justify-end{
  justify-content:flex-end
}
.gap-10{
  gap: 10px !important;
}
.gap-20{
  gap: 20px !important;
}
.w-full{
  width: 100%;
}
.font-bold{
  font-weight: bold;
}
.sticky{
  position: sticky;
}
.top-0{
  top:0px;
}
.mt-20{
  margin-top: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-5{
  margin-top: 5px;
}

.h-screen{
  height: 100vh;
}

.label{
  font-size: small;
  color: dimgray;
  
}
.b-navabar{
  padding: 10px;
  text-align: center;
  align-items: center;
  background-color: lightblue;
  position: fixed;
  width: 100%;
  
  bottom: 0;
  left: 0;
  margin-right: 20px;
  
  
}

.active{
  text-decoration: none !important;
background-color: cornflowerblue !important;
  font-size: large;
  font-weight: 800;
 color: brown;
 padding: 3px;
 border-radius: 5px;
}
.link{
  text-decoration: none;
 color: black;
}
.note{
  text-align: justify;
  padding: 10px;
}
.w-300{
  width: 300px;
}
.h-400{
  height: 400px;
}

.light{
  background-color: ghostwhite;
}
.dark{
  background-color: #0d2136;
}
/* .overflow-scroll-y{
  overflow-y: scroll;
} */

.border-none {
  border: none !important;
}
.outline-none{
  outline: none;
}
.min-h-400{
  min-height: 400px !important;
}